.Cat__card-item {
  position: relative;
  width: 225px;
  height: 225px;
  cursor: pointer;
  transform: scale(1);
  transform-origin: top;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);

    .Cat__favorite-btn {
      opacity: 1;
    }
  }
}

.Cat__favorite-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  color: rgba(242, 78, 30, 1);
  z-index: 1;
  cursor: pointer;
}

.Cat__favorite-icon {
  width: 100% !important;
  height: 100% !important;
}
